/* ==UserStyle==
@name           Kobo.com
@namespace      https://github.com/VMPYRC/userstyles
@author         VMPYRC
@description    Compact + Clean
@version        2026.05.30
==/UserStyle== */
@-moz-document domain("www.kobo.com") {
  /* Strikethrough prices */
  .SpotlightWidget .SpotlightWidgetV2 .spotlight-content .description-column .item-details-wrapper .price .was-price,
  .carousel-treatment .book-details .was-price,
  .gmLIwQ,
  .was-price {
    color: #f00;
  }
  /* Toast notification when you buy books */
  .toast {
    background-color: #0f0;
  }
  /* Header */
  .rich-header {
    height: auto;
  }
  .nav-user-account .profile-wrapper .my-account,
  .nav-user-account .profile-wrapper .profile-icon,
  .nav-user-account .profile-wrapper,
  .nav-user-account .profile-wrapper,
  .nav-user-account,
  .navbar-tab .link,
  .navbar-tab .toggle,
  .rich-header #header-search-input,
  .rich-header .rich-header-wrapper .header-middle,
  .rich-header .rich-header-wrapper .left-field,
  .rich-header .rich-header-wrapper .right-field,
  .rich-header-shopping-cart .icon-cart,
  .rich-header-shopping-cart .text-cart,
  .rich-header-shopping-cart,
  .rich-header-wishlist .icon-wishlist,
  .rich-header-wishlist .my-wishlist-icon,
  .rich-header.rich-header-slim .with-love .navbar-tab .toggle {
    margin: 0;
    padding: 0;
  }
  /* Tabs (eBooks, Audiobooks, Kobo Plus, eReaders & Apps, Super Points) */
  .navbar-tab .link,
  .navbar-tab .toggle {
    margin: 10px;
    padding: 0;
  }
  /* Footer */
  .etaOYJ,
  #rakuten-properties {
    display: none;
  }
  .floated-column.footer-accepted-payment-methods {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0;
  }
  .eRuWNd,
  .kobo-footer .inner-wrap,
  .kobo-footer .primary-footer .blog,
  .kobo-footer .primary-footer .floated-column.open,
  .kobo-footer .primary-footer .floated-column.open-in-large,
  .kobo-footer .primary-footer .toggle,
  .kobo-footer .primary-footer h3,
  .kobo-footer .primary-footer,
  .kobo-footer ul li {
    margin: auto;
    padding: 0;
  }
  /* Compact */
  .lg\:max-w-\[254px\] {
    max-width: fit-content;
  }
  .pb-2xsmall {
    padding-bottom: 0;
  }
  .lg\:pb-0,
  .lg\:px-1xsmall,
  .md\:pb-2xlarge,
  .mt-2xsmall,
  .pb-1xlarge,
  .pt-medium,
  .px-3xsmall,
  .py-1xsmall {
    padding: 0;
  }
  .m-medium,
  .mb-1xlarge,
  .md\:mb-medium,
  .md\:mt-medium,
  .mt-2xsmall,
  .mx-auto,
  .my-medium {
    margin: 0;
  }
  .kobo-theme,
  :host {
    --k-spacing-1x-small: 0;
    --k-spacing-2x-small: 0;
    --k-spacing-3x-small: 0;
    --k-spacing-4x-small: 0;
    --k-spacing-medium: 0;
    --k-spacing-1x-large: 0;
    --k-spacing-2x-large: 0;
    --k-spacing-3x-large: 0;
    --k-spacing-4x-large: 0;
    --k-spacing-5x-large: 0;
  }
  .gap-3xsmall,
  .gap-5xlarge,
  .gap-medium {
    gap: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  .content-top .skinny-banner-spacer {
    height: 0;
  }
  /* Spotlight */
  .SpotlightWidget .SpotlightWidgetV2 header,
  .SpotlightWidget .SpotlightWidgetV2,
  .featuredList-landing-page .content-main .SpotlightWidget {
    margin: 0;
    padding: 0;
  }
  .SpotlightWidget .SpotlightWidgetV2 .spotlight-content .image-column {
    max-width: none;
    padding: 0;
    width: unset;
  }
  /* Carousel */
  .carousel-treatment.lightweight-carousel-treatment.audiobook-only .item-container,
  .carousel-treatment.lightweight-carousel-treatment.navigation-arrows-enabled .carousel-header-container,
  .carousel-treatment.navigation-arrows-enabled .carousel-badge-container,
  .dealWithCarouselLanding-landing-page .content-main .CarouselWidget,
  .dealWithCarouselLanding-landing-page .content-main .ContentPresenterWidget,
  .dealWithCarouselLanding-landing-page .content-main .MarketingContentWidget,
  .dealWithCarouselLanding-landing-page .content-main .SpotlightWidget,
  .featuredList-landing-page .content-main .CarouselWidget,
  .featuredList-landing-page .content-main .ContentPresenterWidget,
  .featuredList-landing-page .content-main .MarketingContentWidget,
  .featuredList-landing-page .content-main .SpotlightWidget {
    margin: 0;
  }
  .carousel-treatment.lightweight-carousel-treatment .item-container,
  .hero-carousel .carousel-treatment,
  .lightweight-hero-view-carousel .carousel-treatment {
    padding: 0;
  }
  .carousel-treatment.lightweight-carousel-treatment .carousel-body-container,
  .carousel-treatment.lightweight-carousel-treatment .carousel-items,
  .lightweight-hero-view-carousel .carousel-treatment header .title-wrapper h2.title {
    margin: 0;
    padding: 0;
  }
  /* Widgets */
  .gizmo-expandable .gizmo-expandable-button-facetlist,
  .kobo-widget,
  .kobo-widget.gizmo-breadcrumbtrail,
  .kobo-widget.lightweight-carousel,
  .marketing-widget {
    padding: 0;
  }
  .FeaturedListTitleWidget .featuredList-title .search-info .editorialcopy {
    margin: 0;
    padding: 0;
  }
  /* Facet */
  .facet-list li a,
  .facet-list li div,
  .facet-list li,
  .facet-list-container .facet-list,
  .facet-standalone-container label.facet-checkbox {
    padding: 0;
  }
  .facet-standalone-container {
    margin: 0;
  }
  .Store-Browse-SubCategory .FacetWidget {
    margin: 0;
  }
  /* Search Results */
  .results.wrapper,
  .search-results-display .item-info .contributor-list,
  .search-results-display .item-info .product-field,
  .search-results-display .item-info .synopsis,
  .search-results-display .item-wrapper {
    margin: 0;
  }
  .search-results-display .item-detail,
  .search-results-display .item-info .product-field {
    padding: 0;
  }
  /* Genre Lists */
  .SubCategoryTitleWidget .title-widget-with-sort.subcategory-title .summary-page-numbers {
    left: 0;
    position: absolute;
    top: 0;
  }
  .subcategory-title-description .header {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-top: 2%;
  }
  .SubCategoryTitleWidget .title-widget-with-sort.subcategory-title {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .Store-Browse-SubCategory .result-sort-container {
    top: 0;
  }
  /* Filters */
  .facet-list-container,
  .price-facet .pricing-options .block-wrap,
  .price-facet .pricing-options .price-filter labe,
  .price-facet .pricing-options h3,
  .price-facet {
    margin: 0;
  }
  /* Buttons */
  .kfzLtp {
    gap: 0;
    height: auto;
  }
  .kfzLtp .chip--label {
    padding-inline: 5px;
  }
  /* My Books Page */
  .library-container .library-content.grid .item-wrapper,
  .library-container .library-header .go-back-link,
  .library-container .library-header .page-name,
  .library-container .secondary-controls {
    margin: 0;
  }
  .library-container .library-content.grid .library-items {
    column-gap: 0;
  }
  /* eBooks / Audiobooks Page */
  #accessibility-info-headings .accessibility-info-item,
  #accessibility-info-headings .collapsible-accessibility-info.hide-expandable,
  #accessibility-info-headings,
  #book-metadata-wrapper > section.visible:last-child,
  #book-metadata-wrapper,
  .books-in-series .series-item-holder .item-title,
  .books-in-series .view-all,
  .books-in-series,
  .item-primary-metadata .category-rankings,
  .item-primary-metadata .item-info .about,
  .item-primary-metadata .item-info h2,
  .item-primary-metadata .primary-left-container,
  .item-primary-metadata,
  .item-synopsis .collapsible-synopsis,
  .item-synopsis .synopsis-title,
  .item-synopsis,
  .subcategory-title-description .description {
    margin: 0;
  }
  .item-primary-metadata .support {
    padding-left: 2%;
  }
  #accessibility-info-headings .accessibility-info-toggle-button,
  .item-synopsis .toggle-button {
    background-color: #f69;
  }
  /* Images */
  .item-image img,
  .item-primary-metadata .primary-left-container .inner-top-container .main-product-image .item-image img,
  .product-type-icon-container .product-type-icon {
    border: 1px solid #f69;
    min-width: 5rem;
    transition: none;
  }
  /* No image shadows */
  .item-primary-metadata .primary-left-container .inner-top-container .main-product-image .item-image::after {
    display: none;
  }
  /* Ratings + Reviews */
  #ratings-average-summary,
  .ratings-and-reviews .rating-histogram-wrapper dd,
  .ratings-and-reviews .rating-histogram-wrapper dt,
  .ratings-and-reviews .rating-review-summary-header .overall-rating-container .average-rating,
  .ratings-and-reviews .rating-review-summary-header .overall-rating-container .average-stars,
  .ratings-and-reviews .rating-review-summary-header .overall-rating-container .title,
  .ratings-and-reviews .review-helpful,
  .ratings-and-reviews .review-listing-header .review-listing-title,
  .ratings-and-reviews .review-listing-header .sorting-and-filtering,
  .ratings-and-reviews .review-wrapper .review-container {
    margin: 0;
  }
  .RatingAndReviewWidget,
  .ratings-and-reviews .header,
  .ratings-and-reviews .rating-review-summary-header,
  .ratings-and-reviews .review-item {
    margin: 0;
    padding: 0;
  }
  .ratings-and-reviews .review-item {
    min-height: unset;
  }
  #ratings-and-reviews .review-wrapper .review-container .review {
    -webkit-line-clamp: none;
    max-height: none;
    overflow: visible;
  }
}
