/* ==UserStyle==
@name           Kobo.com
@namespace      https://github.com/VMPYRC/userstyles
@author         VMPYRC
@description    Compact + Clean
@version        2026.05.03
==/UserStyle== */
@-moz-document domain("www.kobo.com") {
  /* Strikethrough prices */
  .gmLIwQ,
  .was-price {
    color: #f00;
  }
  /* Toast notification when you buy books */
  .toast {
    background-color: #0f0;
  }
  /* Header */
  .rich-header {
    height: auto;
  }
  .nav-user-account .profile-wrapper .my-account,
  .nav-user-account .profile-wrapper .profile-icon,
  .nav-user-account .profile-wrapper,
  .nav-user-account .profile-wrapper,
  .nav-user-account,
  .navbar-tab .link,
  .navbar-tab .toggle,
  .rich-header #header-search-input,
  .rich-header .rich-header-wrapper .header-middle,
  .rich-header .rich-header-wrapper .left-field,
  .rich-header .rich-header-wrapper .right-field,
  .rich-header-shopping-cart .icon-cart,
  .rich-header-shopping-cart .text-cart,
  .rich-header-shopping-cart,
  .rich-header-wishlist .icon-wishlist,
  .rich-header-wishlist .my-wishlist-icon,
  .rich-header.rich-header-slim .with-love .navbar-tab .toggle {
    padding: 0;
    margin: 0;
  }
  /* Tabs - eBooks, Audiobooks, Kobo Plus, eReaders & Apps, Super Points */
  .navbar-tab .link,
  .navbar-tab .toggle {
    padding: 0;
    margin: 10px;
  }
  /* Footer */
  .etaOYJ,
  #rakuten-properties {
    display: none;
  }
  .floated-column.footer-accepted-payment-methods {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0;
  }
  .eRuWNd,
  .kobo-footer .inner-wrap,
  .kobo-footer .primary-footer .blog,
  .kobo-footer .primary-footer .floated-column.open,
  .kobo-footer .primary-footer .floated-column.open-in-large,
  .kobo-footer .primary-footer .toggle,
  .kobo-footer .primary-footer h3,
  .kobo-footer .primary-footer,
  .kobo-footer ul li {
    padding: 0;
    margin: auto;
  }
  /* Compact */
  .lg\:max-w-\[254px\] {
    max-width: fit-content;
  }
  .pb-2xsmall {
    padding-bottom: 0;
  }
  .lg\:pb-0,
  .lg\:px-1xsmall,
  .md\:pb-2xlarge,
  .mt-2xsmall,
  .pb-1xlarge,
  .pt-medium,
  .px-3xsmall,
  .py-1xsmall {
    padding: 0;
  }
  .m-medium,
  .mb-1xlarge,
  .md\:mb-medium,
  .md\:mt-medium,
  .mt-2xsmall,
  .mx-auto,
  .my-medium {
    margin: 0;
  }
  .kobo-theme,
  :host {
    --k-spacing-4x-small: 0;
    --k-spacing-3x-small: 0;
    --k-spacing-2x-small: 0;
    --k-spacing-1x-small: 0;
    --k-spacing-medium: 0;
    --k-spacing-1x-large: 0;
    --k-spacing-2x-large: 0;
    --k-spacing-3x-large: 0;
    --k-spacing-4x-large: 0;
    --k-spacing-5x-large: 0;
  }
  .gap-3xsmall,
  .gap-5xlarge,
  .gap-medium {
    gap: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  /* Spotlight */
  .SpotlightWidget .SpotlightWidgetV2 header,
  .SpotlightWidget .SpotlightWidgetV2 {
    margin: 0;
    padding: 0;
  }
  /* Widgets */
  .FeaturedListTitleWidget .featuredList-title .search-info .editorialcopy {
    margin: 0;
    padding: 0;
  }
  .kobo-widget.gizmo-breadcrumbtrail {
    padding: 0;
  }
  .gizmo-expandable .gizmo-expandable-button-facetlist {
    padding: 0;
  }
  /* Facet */
  .facet-list li a,
  .facet-list li div,
  .facet-list li,
  .facet-list-container .facet-list,
  .facet-standalone-container label.facet-checkbox {
    padding: 0;
  }
  .facet-standalone-container {
    margin: 0;
  }
  /* Search Results */
  .results.wrapper,
  .search-results-display .item-wrapper {
    margin: 0;
  }
  .search-results-display .item-detail {
    padding: 0;
  }
  /* Buttons */
  .kfzLtp {
    height: auto;
    gap: 0;
    .kfzLtp .chip--label {
      padding-inline: 5px;
    }
  }
  /* My Books Page */
  .library-container .library-header .go-back-link,
  .library-container .library-header .page-name {
    margin: 0;
  }
  .library-container .library-content.grid .library-items {
    column-gap: 0;
  }
  .library-container .library-content.grid .item-wrapper {
    margin: 0;
  }
  /* eBooks / Audiobooks Page */
  #accessibility-info-headings .accessibility-info-item,
  #accessibility-info-headings .collapsible-accessibility-info.hide-expandable,
  #accessibility-info-headings,
  #book-metadata-wrapper > section.visible:last-child,
  #book-metadata-wrapper,
  .item-primary-metadata .primary-left-container,
  .item-primary-metadata,
  .item-synopsis .collapsible-synopsis,
  .item-synopsis .synopsis-title,
  .item-synopsis,
  .ratings-and-reviews .header,
  .ratings-and-reviews .rating-review-summary-header {
    margin: 0;
    padding: 0;
  }
  .item-primary-metadata .support {
    padding-left: 2%;
  }
}
