/* ==UserStyle==
@name           MyAnimeList.net
@namespace      https://github.com/VMPYRC/userstyles
@author         VMPYRC
@description    Dark Mode only
@version        2026.03.15
==/UserStyle== */
@-moz-document domain("myanimelist.net") {
  /* Notes */
  /* Does not change the pages: Statistics */
  /* Status - Watching, Reading */
  a.button_edit.button_edit.watching,
  a.button_edit.button_edit.reading,
  .circle.reading::after,
  .circle.watching::after,
  .btn-anime-watch-status.reading,
  .btn-anime-watch-status.watching,
  .button.watching,
  .button.reading,
  .status.watching,
  .status.reading,
  .graph-inner.watching,
  .graph-inner.reading,
  .graph.watching,
  .graph.reading {
    background-color: #0f0 !important;
    color: #fff !important;
  }
  /* Status - Completed */
  a.button_edit.button_edit.completed,
  .circle.completed::after,
  .btn-anime-watch-status.completed,
  .button.completed,
  .status.completed,
  .graph-inner.completed,
  .graph.completed {
    background-color: #0bd !important;
    color: #fff !important;
  }
  /* Status - On Hold */
  a.button_edit.button_edit.on_hold,
  .circle.on_hold::after,
  .btn-anime-watch-status.on_hold,
  .button.on_hold,
  .status.on_hold,
  .graph-inner.on_hold,
  .graph.on_hold {
    background-color: #ff0 !important;
    color: #000 !important;
  }
  /* Status - Dropped */
  a.button_edit.button_edit.dropped,
  .circle.dropped::after,
  .btn-anime-watch-status.dropped,
  .button.dropped,
  .status.dropped,
  .graph-inner.dropped,
  .graph.dropped {
    background-color: #f00 !important;
    color: #000 !important;
  }
  /* Status - Plan to Watch, Plan to Read */
  a.button_edit.button_edit.plantoread,
  a.button_edit.button_edit.plantowatch,
  .circle.plan_to_watch::after,
  .circle.plan_to_read::after,
  .btn-anime-watch-status.plantoread,
  .btn-anime-watch-status.plantowatch,
  .button.plantoread,
  .button.plantowatch,
  .status.plantoread,
  .status.plantowatch,
  .graph-inner.plan_to_read,
  .graph-inner.plan_to_watch,
  .graph.plan_to_read,
  .graph.plan_to_watch {
    background-color: #55c !important;
    color: #fff !important;
  }
  /* Status - Add to List */
  a.button_add.button_add,
  a.button_edit.button_add,
  .notinmylist,
  .notinmylist:hover {
    background-color: #555 !important;
    color: #fff !important;
  }
  /* Status - Edit */
  a.button_add.button_edit,
  a.button_edit.button_edit {
    background-color: #f69 !important;
    color: #fff !important;
    border: 1px solid #fff;
    padding: 5px !important;
    border-radius: 5px;
  }
  /* Links */
  a,
  a:link,
  .list-table .list-table-data .data a {
    color: #0bd !important;
    text-decoration: underline !important;
    text-shadow: none !important;
  }
  a:visited,
  a:active,
  .list-table .list-table-data .data a:visited {
    color: #f69 !important;
    text-decoration: underline !important;
    text-shadow: none !important;
  }
  a:hover,
  .list-table .list-table-data a:not(.edit-disabled):hover {
    color: #55c !important;
    text-decoration: underline !important;
    text-shadow: none !important;
  }
  /* Dividers */
  hr {
    background-image: linear-gradient(to right, #f69 0%, #0ff 100%);
    border: 0;
    height: 2px;
    text-align: center;
    width: 80%;
  }
  /* Quotes, Code, Etc. */
  blockquote {
    border-radius: 5px;
    border: 2px solid #55c;
    margin: 1em 1px;
    padding: 0.5em 5px 0.5em 10px;
    /* top - right - bottom - left */
  }
  code,
  pre,
  tt {
    border-radius: 5px;
    border: 2px solid #f69;
    padding: 2px;
    word-wrap: break-word;
  }
  element {
    text-shadow: none !important;
  }
}
