/* ==UserStyle==
@name           Stylus
@namespace      https://github.com/VMPYRC/userstyles
@author         VMPYRC
@description    Dark Mode
@version        2026.06.20
==/UserStyle== */
@-moz-document regexp("^\\w+-extension://.+")
{
  /* Root */
  :root {
    --c00: #fff;
    --c10: #fff;
    --c20: #fff;
    --c30: #fff;
    --c40: #fff;
    --c45: #fff;
    --c50: #fff;
    --c60: #fff;
    --c65: #fff;
    --c70: #fff;
    --c75: #223;
    --c80: #f69;
    --c85: #fff;
    --c90: #223;
    --c95: #223;
    --c97: #223;
    --c98: #223;
    --c99: #223;
    --c100: #223;
    --cmin: #fff;
    --cmax: #223;
    --accent-1: #f69;
    --accent-2: #0bd;
    --accent-3: #55c;
    --input-bg: var(--c95);
    --gold1: #fa0;
    --red1: #f00;
    --bg: var(--c100);
    --fg: var(--c00);
  }
  .CodeMirror-linenumber {
    color: var(--cc00);
  }
  #header-resizer {
    border-color: var(--c00);
    color: var(--c00);
  }
  /* Buttons */
  button {
    background: var(--cmax);
    border-color: var(--c00);
    color: var(--c00);
  }
  .dirty #save-button,
  .dirty #save-button + button {
    background: var(--accent-1);
    border-color: var(--c00);
    color: var(--c00);
  }
  button:not(:disabled):hover {
    background: var(--accent-1);
    border-color: var(--c00);
  }
  /* Code */
  .cm-s-default .cm-comment {
    background: var(--accent-1);
    color: var(--c00);
    font-size: 1.5rem;
  }
  .cm-s-default .cm-builtin,
  .cm-s-default .cm-def,
  .cm-s-default .cm-tag,
  .cm-s-default .cm-variable-2,
  .cm-s-default .cm-variable-3 {
    color: var(--accent-2);
  }
  .cm-s-default .cm-atom,
  .cm-s-default .cm-number {
    color: #fff;
  }
  .cm-s-default .cm-string,
  .cm-s-default .cm-qualifier {
    color: var(--gold1);
  }
  .cm-s-default .cm-variable {
    color: var(--accent-1);
  }
  /* Search */
  #search-replace-dialog [data-type="actions"],
  #search-replace-dialog [data-type="status"],
  #search-replace-dialog textarea {
    background: var(--cmax);
    color: var(--c00);
  }
}
